---
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import type { GetStaticPaths } from "astro";
import "../../styles/global.css";
export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = await resp.json() as PokemonListResponse;

  return results.map(({name, url}) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name, url } = Astro.props;
const id = url.split("/").slice(-2)[0]; // Extracting the ID from the URL
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/${id}.ogg`;
---

<MainLayout title="Algún Pokémon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/" class="hover:underline text-blue-500">Regresar</a>
      <h1 class="text-3xl font-bold capitalize">{name}</h1>
    </div>
    <PokemonCard name={name} url={url} isBig={true} />
    <audio controls class="mt-5">
        <source src={audioSrc} type="audio/ogg" />
    </audio>
  </section>
</MainLayout>
